.container {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    /* grid-template-columns: 100px 200px 300px ; */
    grid-template-columns: 100px minmax(50px, max-content); 
    grid-template-rows: repeat(3, 1fr);
}

.item {
    border: 5px solid #00bd4c;
    font-size: 4rem;
}